#instructions
{
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin-top: -165px;
	margin-left: 200px;
	height: 150px;
	width: 300px;	
	text-align: center;
	color: #9370DB;
}

#mainContent
{
	height: 100%;
	width: 55%;
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
    /*background-color: black; */
}

#introImg
{
	margin-left: 150px;
	margin-top: 20px;
	
}

#beginButton
{
	border-radius: 25px;
	border: 2px solid black;
	width: 100px;
	height: 40px;
	background-color: #9370DB;
	margin-left: 300px;
	font-size: 20px;
	margin-top:130px;
	text-align: center;
	color: white;
	font-family: 'Lato', sans-serif;

}

.questionBox
{
	background-image: url(https://s-media-cache-ak0.pinimg.com/736x/8e/a7/27/8ea7277bf38307b8401f398e59e18873.jpg);
	height: 600px;
	width: 600px;
	margin-top: 40px;
	margin-left: 150px;
	overflow: hidden;
	background-repeat: no-repeat;
	position: absolute;

}

.keyBoxLeft
{
	background-image: url(https://s-media-cache-ak0.pinimg.com/736x/8e/a7/27/8ea7277bf38307b8401f398e59e18873.jpg);
	height: 600px;
	width: 600px;
	margin-top: 200px;
	margin-left: 650px;
	overflow: hidden;
	background-repeat: no-repeat;
	position: absolute;

}

.answers
{
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-top: -240px;
	margin-left: 0px;
	text-align: center;
	text-shadow: 2px 2px black;
	color: white;
}

.keyBoxRight
{
	background-image: url(https://s-media-cache-ak0.pinimg.com/736x/8e/a7/27/8ea7277bf38307b8401f398e59e18873.jpg);
	height: 600px;
	width: 600px;
	margin-top: 200px;
	margin-left: 30px;
	overflow: hidden;
	background-repeat: no-repeat;
	position: relative;

}

.questions
{
	color:white;
	text-shadow: 2px 2px black;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-top: 35%;
	margin-right: auto;
	

}

.choiceIcon1
{
	height: 70px;
	width: 60px;
	overflow: hidden;
	background-repeat: no-repeat;
	margin-left: 800px;
	margin-top: 150px;
}

.choiceIcon2, .choiceIcon3, .choiceIcon4, .choiceIcon5
{
	height: 70px;
	width: 60px;
	overflow: hidden;
	background-repeat: no-repeat;
	margin-left: 800px;
	margin-top: 10px;
}

.option1
{
	color:#9370DB;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	position: relative;
	margin-top: -397px;
	margin-left: 890px; 
}

.option2, .option3, .option4, .option5
{
	color:#9370DB;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	position: relative;
	margin-top: 49px;
	margin-left: 890px; 
}

#results img
{
	position: absolute;
	margin-left:400px;
	margin-top: 70px;

	
}

#resultContent
{
	margin-left: 70px;
	padding-top: 30px;

}

#title
{
	position: absolute;
	font-family: 'Caveat Brush', cursive;
	font-size: 70px;
	margin-top: 130px;
	margin-left: 510px;
	color: white;
	text-shadow: 4px 4px black;
	
}

#cumulativeScore
{
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-top: 220px;
	margin-left: 520px;
	text-shadow: 2px 2px black;
	color: white;
}

#javaScore
{
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-top: 350px;
	margin-left: 470px;
	text-shadow: 2px 2px black;
	color: white;
}

#coffeeScore
{
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-top: 350px;
	margin-left: 620px;
	text-shadow: 2px 2px black;
	color: white;
}

#finalJavaScore
{
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: 60px;
	margin-top: -150px;
	margin-left: 450px;
	text-shadow: 2px 2px black;
	color: white;
}

#finalCoffeeScore
{
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: 60px;
	margin-top: -150px;
	margin-left: 620px;
	text-shadow: 2px 2px black;
	color: white;
}
#finalScore
{
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: 60px;
	margin-top: -280px;
	margin-left: 540px;
	text-shadow: 2px 2px black;
	color: white;
}

#youreBetterAt
{
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	margin-top: 90px;
	margin-left: 420px;
	width: 400px;
	text-align: center;
	color: #9370DB;
}

#backButton
{
	border-radius: 25px;
	border: 2px solid black;
	width: 150px;
	height: 40px;
	background-color: #9370DB;
	margin-left: 530px;
	font-size: 20px;
	margin-top: 500px;
	text-align: center;
	color: white;
	font-family: 'Lato', sans-serif;
	position: relative;
}



